<!-- <div class="p-8"> -->
<div class="flex flex-col gap-4 px-2 py-4">
    <form [formGroup]="infoForm">
        <div class="flex flex-col">
            <span class="text-xl">
                Select the problem category
            </span>
            <mat-form-field class="w-full mt-1" appearance="outline">
                <mat-select placeholder="problem category">
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <span class="text-xl">
                Select the problem name
            </span>
            <mat-form-field class="w-full mt-1" appearance="outline">
                <mat-select placeholder="problem name">
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <span class="text-xl">
                Order No
            </span>
            <mat-form-field class="w-full mt-1" appearance="outline">
                <mat-select placeholder="order No">
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <span class="text-xl">
                Description
            </span>
            <mat-form-field class="w-full mt-1" appearance="outline">
                <textarea placeholder="description" matInput [rows]="3" formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </form>

    <div class="flex flex-row">
        <div class="flex flex-row flex-wrap flex-auto items-center gap-x-2">
            <button class="button-normal" mat-stroked-button color="primary">
                ATTACH FILE
            </button>
            <span>(JPG/PNG/PDF)</span>
        </div>
        <div class="flex flex-initial gap-x-2" >
            <button mat-stroked-button color="primary" class="button-normal" (click)="cancel()">
                CANCEL
            </button>
            <button mat-flat-button color="primary" class="button-normal" (click)="summit()">
                SUMMIT
            </button>
        </div>
    </div>
</div>


