<!-- <p>my-ticket-info-edit works!</p> -->
<div class="flex h-full w-full">
    <form [formGroup]="infoFrom" class="flex flex-col w-full gap-4">
         <!-- <div class="flex flex-col w-full mt-1"> -->
            <mat-form-field class="w-full mt-1" appearance="outline">
            <mat-label>Select the problem category</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
             </mat-form-field>
         <!-- </div> -->

         <!-- <div class="flex flex-col w-full mt-1"> -->
            <mat-form-field class="w-full mt-1" appearance="outline">
            <mat-label>Select the problem name</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
             </mat-form-field>
         <!-- </div> -->

         <!-- <div class="flex flex-col w-full mt-1"> -->
            <mat-form-field class="w-full mt-1" appearance="outline">
            <mat-label> Order No </mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
             </mat-form-field>
         <!-- </div> -->
    
        <!-- <div class="flex flex-col w-full mt-1"> -->
            <mat-form-field class="w-full mt-1" appearance="outline">
                <mat-label> Description </mat-label>
                <textarea matInput [rows]="3" formControlName="description"></textarea>
            </mat-form-field>
        <!-- </div> -->
    </form>
</div>

<div class="flex flex-row justify-start gap-3 mt-2 ">
    <div class="grid grid-cols-4 gap-4">
        <div class="grid grid-col-2 col-span-2">
            <button mat-stroked-button color="primary">
                ATTACH FILE
            </button>
        </div>
        <div class="grid grid-col-2  col-span-1">
            <button mat-stoked-button color="primary">
                CANCEL
            </button>
        </div>
        <div class="grid grid-col-3  col-span-1">
            <button mat-flat-button color="primary" (click)="saveFrom()">
                SUMMIT
            </button>
        </div>
    </div>
   
</div>

<!-- <div class="grid grid-cols-4 gap-9">
    <div>01</div>
    <div>09</div>
    <div>09</div>
    <div>09</div>
  </div> -->


