<div class="flex flex-col p-2 min-h-26 border-box gap-y-2 shadow-md">
    <div class="flex flex-row items-center">
        <p class="pl-2 flex-auto text-3xl tracking-wide text-primary font-semibold gap-x-1">
            Request Data
        </p>
        <button mat-flat-button color="primary" 
            *ngIf="isEditMode"
            class="button-normal mr-4"
            (click)="clickAdd.emit(undefined)"
        >
            Add Request Data
        </button>        

            <!-- <app-request-data-menu class="flex-initial" [requestData]='requestData'>
        </app-request-data-menu> -->
    </div>
    <mat-divider ></mat-divider>

    <div class="grid grid-cols-2">
        <small class="col-span-2 text-center ml-2">required</small>

        <span>Ticket Description</span>
        <mat-checkbox checked="true"></mat-checkbox>

        <span>Order No</span>
        <mat-checkbox></mat-checkbox>

        <span>Attachment file</span>
        <mat-checkbox checked="true"></mat-checkbox>
    </div>
</div>

