<ng-container *ngIf="activeProblems$ | async as activeProblems">
    <div class="flex flex-col w-full gap-y-2 px-2 pb-4">
        <div class="z-20 sticky top-0 flex flex-col bg-default">
            <div class="flex flex-row py-2 px-4 items-center  gap-x-2">
                <p class="flex-auto text-[1.875rem] tracking-wider text-primary font-semibold">
                    Problem Information
                </p>

                <span class="flex-initial ">Status : {{ activeProblems?.status | titlecase }}</span>

                <button mat-flat-button class="button-normal flex-initial text-center" color="primary">
                    Edit
                </button>

                <button mat-icon-button class="flex-initial" (click)="onClose()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <mat-divider class="mx-2"></mat-divider>
        </div>

        <div class="flex flex-col px-1 gap-y-2">
            <app-problem-info-view [problem]='activeProblems'>
            </app-problem-info-view>

            <app-problem-control-view [problem]='activeProblems'>
            </app-problem-control-view>

            <app-request-data>
            </app-request-data>

            <div class="flex flex-row mt-2 mb-2 gap-2">
                <span>External Operation</span>
                <mat-slide-toggle class="flex-initial">
                </mat-slide-toggle>
            </div>

            <app-team-owner [problem]='activeProblems'>

            </app-team-owner>

            <div class="flex flex-row justify-end mr-15">
                <button mat-stroked-button color="primary" color="warn" class="button-normal">
                    <div class="flex gap-x-2">
                        <mat-icon class="button-icon" svgIcon="delete">
                        </mat-icon>
                        <span>'DELETE' </span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</ng-container>