<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden ">
    <mat-drawer-container class="h-full flex-auto ">
        <mat-drawer-content cdkscrollable class="flex flex-col">
            <ng-container *ngIf="{
                    problemResponse : problemsResponse$ | async ,
                    problemCategoriesResponse : problemCategoriesResponse$ | async ,
                    teamsResponse : teamsResponse$ | async 
                }  as data"
            >
                <div class="flex flex-col px-4 flex-auto gap-y-2 w-full max-w-6xl mx-auto">
                    <div class=" sticky top-0 flex flex-col bg-default gap-y-2">
                        <div class="flex flex-row gap-x-2 items-end">

                            <div class="flex flex-row flex-auto w-full min-w-0 flex-wrap gap-x-4">
                                <div class="flex flex-col flex-auto">
                                    <span class="text-xl">
                                        Search
                                    </span>
                                    <mat-form-field appearance="outline" class="min-w-0 w-full">
                                        <input matInput placeholder="Search Problem">
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-row flex-initial gap-x-4 gap-y-2">
                                    <div class="flex flex-col"> 
                                        <span class="text-xl">
                                            Category
                                        </span>
                                        <mat-form-field appearance="outline">
                                            <mat-select placeholder="Please Select">
                                                <mat-option 
                                                    *ngFor="let category of data?.problemCategoriesResponse?.data" 
                                                    value='category.id'
                                                > 
                                                    {{category?.name}} 
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-col ">
                                        <span class="text-xl">
                                            Team
                                        </span>

                                        <mat-form-field appearance="outline">
                                            <mat-select placeholder="Please Select">
                                                <mat-option 
                                                    *ngFor="let team of data?.teamsResponse?.data" 
                                                    value='team.id'
                                                > 
                                                    {{team?.name}} 
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-initial pt-6 self-start">
                                <button class="button-normal" mat-flat-button color="primary"
                                    (click)="onProblemEdit('create')"
                                >
                                    CREATE
                                </button>
                            </div>
                        </div>

                        <app-filter-button [buttons]="filters">

                        </app-filter-button>

                        <div class="grid grid-cols-5">
                            <p class="font-semibold col-span-2 pl-16">Problem</p>
                            <p class="font-semibold">Category</p>
                            <p class="font-semibold">Status</p>
                            <p class="font-semibold">Team Owner</p>
                        </div>

                        <mat-divider></mat-divider>
                    </div>
                    <app-problem-card-list 
                        #problemListComp
                        [problems]="data?.problemResponse?.data"
                        (selected)="onViewOpened($event)"
                    >
                    </app-problem-card-list>

                    <app-paginator class="pr-4"
                        [pageNo]="data?.problemResponse?.pageNo"
                        [pageSize]="data?.problemResponse?.pageSize"
                        [totalRecord]="data?.problemResponse?.totalRecord"
                    >
                    </app-paginator>
                </div>
            </ng-container>
        </mat-drawer-content>

        <mat-drawer #drawerDetail class="lg:w-128 xl:w-160 md:w-full"
            [mode]="isViewMode ? 'side' : 'over' "
            position="end" 
            disableClose="true"
        >
            <app-problem-information-view *ngIf="isViewMode"
                (closed)="onViewClosed($event)"
                (edit)="onProblemEdit('edit')"

            >
            </app-problem-information-view>

            <app-problem-information-edit *ngIf="!isViewMode" 
                [mode]="problemInfoMode"
                (closed)="onProblemEditClosed($event)"
            >            
            </app-problem-information-edit>

        </mat-drawer>

    </mat-drawer-container>
</div>