<div class="flex flex-col w-full h-full">

    <div class="flex flex-row w-full pt-4 pb-4" style="border-bottom: 1px solid #d4dde7;">
        <div class="flex-initial w-5/12 text-center">

        </div>
        <div class="flex-initial w-1/12 text-center">
            <span>
                <strong>Status</strong>
            </span>
        </div>
        <div class="flex-initial w-3/12 text-center">
            <span>
                <strong>Created</strong>
            </span>
        </div>
        <div class="flex-initial w-3/12 text-center">
            <span>
                <strong>Updated</strong>
            </span>
        </div>
    </div>

    <div class="flex flex-row w-full pt-4 pb-4" style="border-bottom: 1px solid #d4dde7;"
        *ngFor="let item of dateMock" (click)="onDetail(item)"
    >
        <div class="flex-initial w-5/12 text-left">
            <div class="flex flex-col">
                <div class="w-full">
                    <span>{{item.teamName}}</span>
                </div>
                <div class="w-full">
                    <span>{{item.teamDiscription}}</span>
                </div>
            </div>
        </div>

        <div class="flex-initial w-1/12 text-center">
            <span>{{item.status}}</span>
        </div>

        <div class="flex-initial w-3/12 text-center">
            <div class="flex flex-col">
                <div class="w-full">
                    <span>{{item.created.firstName + ' ' + item.created.lastName}}</span>
                </div>
                <div class="w-full">
                    <span>{{ item.created.date}}</span>
                </div>
            </div>
        </div>
        
        <div class="flex-initial w-3/12 text-center">
            <div class="flex flex-col">
                <div class="w-full">
                    <span>{{item.updated.firstName + ' ' + item.updated.lastName}}</span>
                </div>
                <div class="w-full">
                    <span>{{ item.updated.date}}</span>
                </div>
            </div>
        </div>
    </div>






    <div class="flex flex-row w-full">
        <div class="flex-initial w-6/12">
            <div class="flex-initial w-12/12 text-start">
                3
            </div>
            <div class="flex-initial w-12/12 text-end">
                4
            </div>
        </div>
        <div class="flex-initial w-6/12 text-center">
            5
        </div>
    </div>

    <div class="flex">
        <div class="w-1/2">
            <div class="flex flex-col">
                <div class="w-full">w-full</div>
                <div class="w-full">w-full</div>
            </div>
        </div>
        <div class="w-1/2">w-1/2</div>
    </div>

    <div class="flex text-right">
        <div class="w-full">u</div>
    </div>


</div>





















<!-- <div class="flex flex-col h-100 bg-current">

    <div class="flex w-full">
        <span> Search-Sort</span>
    </div>

    <div class="flex flex-row w-full  ">
        <div class="flex-initial w-4/12 text-center">
            1
        </div>
        <div class="flex-initial w-4/12 text-center">
            2
        </div>
        <div class="flex-initial w-4/12 text-center">
            3
        </div>
    </div>

    <div class="flex flex-row w-full  ">
        <div class="flex-initial w-3/12 text-center">
            1
        </div>
        <div class="flex-initial w-3/12 text-center">
            2
        </div>
        <div class="flex-initial w-3/12 text-center">
            3
        </div>
        <div class="flex-initial w-3/12 text-center">
            4
        </div>
    </div>

    <div class="flex flex-row w-full  ">
        <div class="flex-initial w-6/12">
            <div class="flex-initial w-12/12 text-start">
                3
            </div>
            <div class="flex-initial w-12/12 text-end">
                4
            </div>
        </div>
        <div class="flex-initial w-6/12 text-center">
            5
        </div>
    </div>

    <div class="flex ">
        <div class="w-1/2">
            <div class="flex flex-col">
                <div class="w-full">w-full</div>
                <div class="w-full">w-full</div>
            </div>
        </div>
        <div class="w-1/2">w-1/2</div>
    </div>

    <div class="flex ">
        <div class="w-3/6">w-3/6</div>
        <div class="w-3/6">w-3/6</div>
    </div>


</div> -->