<div class="flex flex-col h-100 bg-current">

    <div class="flex w-full">
        <span> Search-Sort</span>
    </div>

    <div class="flex flex-row w-full bg-gray-300 ">
        <div class="flex-initial w-4/12 text-center">
            1
        </div>
        <div class="flex-initial w-4/12 text-center">
            2
        </div>
        <div class="flex-initial w-4/12 text-center">
            3
        </div>
    </div>

    <div class="flex flex-row w-full bg-gray-300 ">
        <div class="flex-initial w-3/12 text-center">
            1
        </div>
        <div class="flex-initial w-3/12 text-center">
            2
        </div>
        <div class="flex-initial w-3/12 text-center">
            3
        </div>
        <div class="flex-initial w-3/12 text-center">
            4
        </div>
    </div>

    <div class="flex flex-row w-full bg-gray-300 ">
        <div class="flex-initial w-6/12">
            <div class="flex-initial w-12/12 text-start">
                3
            </div>
            <div class="flex-initial w-12/12 text-end">
                4
            </div>
        </div>
        <div class="flex-initial w-6/12 text-center">
            5
        </div>
    </div>

    <div class="flex bg-gray-300">
        <div class="w-1/2">
            <div class="flex flex-col">
                <div class="w-full">w-full</div>
                <div class="w-full">w-full</div>
            </div>
        </div>
        <div class="w-1/2">w-1/2</div>
    </div>

    <div class="flex bg-gray-300">
        <div class="w-3/6">w-3/6</div>
        <div class="w-3/6">w-3/6</div>
    </div>


</div>