<div class="grid grid-cols-5 pt-2 pb-2 hover:bg-gray-300 cursor-pointer">
        <p class="flex flex-col col-span-2">
            <span>
                {{teamData.teamName}}
            </span>
            <span>
                {{teamData.teamDiscription}}
            </span>
        </p>
        <p>{{teamData.status}}</p>
        <p class="flex flex-col">
            <span>
                {{teamData.created.firstName + ' ' + teamData.created.lastName}}
            </span>
            <span>
                {{ teamData.created.date}}
            </span>
        </p>
        <p class="flex flex-col">
            <span>
                {{teamData.updated.firstName + ' ' + teamData.updated.lastName}}
            </span>
            <span>
                {{ teamData.updated.date}}
            </span>
        </p>
</div>