<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="w-full h-full">
        <mat-drawer-content cdkscrollable class="flex flex-col">
            <ng-container *ngIf="ticketResponse$ | async as ticketResponse">
                <div class="flex flex-col px-4 flex-auto w-full max-w-6xl mx-auto gap-y-2">
                    <div class="z-20 sticky top-0 flex flex-col bg-default gap-y-2">
                        <div class="flex flex-row gap-x-2 items-end">
                            <div class="flex flex-col flex-auto">
                                <span class="text-xl pl-4">
                                    Search
                                </span>
                                <mat-form-field appearance="outline" class="w-full">
                                    <input matInput placeholder="Search Ticket">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col flex-initial">
                                <span class="text-xl pl-4">Sort By</span>
                                <mat-form-field appearance="outline">
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                            <div class="flex-initial pb-1" >
                                <button  class="button-normal" mat-flat-button color="primary" 
                                    (click)="onCreate()"
                                >
                                    CREATE
                                </button>
                            </div>
                        </div>
                    </div>
                    <app-my-ticket-card-list #ticketListComp (selected)="onViewOpened($event)">

                    </app-my-ticket-card-list>

                    <app-paginator class="pr-4" 
                        [pageNo]="ticketResponse.pageNo"
                        [pageSize]="ticketResponse.pageSize"
                        [totalRecord]="ticketResponse.totalRecord"
                    >
                    </app-paginator>
                </div>
    
            </ng-container>

        </mat-drawer-content>

        <mat-drawer #drawerDetail class="lg:w-full xl:w-160 w-full" 
            [mode]="isViewMode ? 'side' : 'over' " position="end"
        >
            <app-my-ticket-information-view *ngIf="isViewMode"
                (closed)="onViewClosed()"
            >

            </app-my-ticket-information-view>
            <app-my-ticket-information-edit *ngIf="!isViewMode">
                
            </app-my-ticket-information-edit>
        </mat-drawer>

    </mat-drawer-container>
</div>