<div class="flex cursor-pointer hover:card-hover p-2 ">
    <div class="grid grid-cols-4 w-11/12"
        (click)="selected.emit(ticket)">
        <div>
            {{ ticket?.id }}
        </div>

        <div>
            {{ ticket?.problem?.category?.name }}
        </div>
        <div class="text-primary">
            {{ ticket?.problem?.status }}
        </div>
        <div>
            {{ ticket?.updatedAt | date: 'dd/MM/yyyy hh:mm a'}}
        </div>

        <div class="pr-4 col-span-4">
            {{ ticket?.problem?.name }}
        </div>
    </div>

    <div class="flex  w-1/12 pt-1 ">
        <button mat-icon-button class="font-medium min-h-6 w-6 h-6 message-icon">
            90
        </button>
        
    </div>
</div>

