<div class="grid grid-cols-5 p-2 cursor-pointer hover:card-hover">
    <p class="grid grid-col-0 col-span-1">
        <span>
            {{myTicketData.myTicketTk}}
        </span>
        <span>
            {{myTicketData.myTicketCategcry}}
        </span>

    </p>
    <p class="grid grid-cols-1 col-span-2">
        <span>
            {{myTicketData.myTicketName}}
        </span>
        <span>
            {{myTicketData.myTicketCat}}
        </span>
    </p>
    <p class="grid grid-cols-1">
        <span>
            {{myTicketData.status.Name}}
        </span>
        <span>
            {{myTicketData.status.data}}
        </span>
    </p>
    <p class="grid grid-cols-1">
        <span>
            {{myTicketData.created.Name}}
        </span>
        <span>
            {{ myTicketData.created.date}}
        </span>
    </p>
</div>
