<mat-tab-group class="absolute inset-0 overflow-y-hidden mt-4">
    <mat-tab label="INFORMATION">
        <ng-template matTabContent>
            <app-ticket-information-view>
                
            </app-ticket-information-view>
        </ng-template>
    </mat-tab>
    <mat-tab label="CONVERSATION">
        <ng-template matTabContent>
            <app-conversation>
                
            </app-conversation>
        </ng-template>
    </mat-tab>
    <mat-tab label="HISTORY">
        History
    </mat-tab>
</mat-tab-group>
<div class="absolute top-4 right-8">
    <button mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

