<div class="flex flex-col">
    <div class="grid grid-cols-5 p-3 font-bold">
        <div class="col-span-2"></div>
        <div>Status</div>
        <div>Created</div>
        <div>Updated</div>
    </div>

    <mat-divider></mat-divider>

    <div>
        <ng-container>
            <app-problem-card-info 
                *ngFor="let item of [0,1,2,3]" 
                (click)="onClick(item)" 
            >
            
            </app-problem-card-info>
            <mat-divider [inset]="true"></mat-divider>
        </ng-container>
    </div>
</div>