<div class=" flex flex-col w-full h-full gap-2" >
    <!-- <form [formGroup]="controlForm" class="flex flex-col w-full"> -->
        <div class="flex flex-row gap-2">
            <h1 class="flex-auto justify-start " *ngIf="isNew"> ADD HOLIDAY </h1>
            <h1 class="flex-auto justify-start " *ngIf="!isNew"> EDIT HOLIDAY </h1>
            <button class="flex-initial" mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>

        <mat-radio-group aria-label="option" class="flex flex-row gap-2">
            <mat-radio-button value="Whole">Whole Day</mat-radio-button>
            <mat-radio-button value="Custom">Custom</mat-radio-button>
        </mat-radio-group>

        <div class="flex flex-row">
            <div class="grid grid-rows-2 w-full ">
                <mat-label class="text-xl">Holiday Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="holidayName">
                </mat-form-field>
                
                <!-- <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->

            </div>
            <div class="grid grid-rows-2 w-full ">
                <mat-label class="text-xl">Holiday Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="holidayName">
                </mat-form-field>

                <mat-label class="text-xl">Holiday Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="holidayName">
                </mat-form-field>
            </div>
        </div>

        <div class="flex flex-row justify-end gap-x-2 ">
            <button mat-flat-button color="primary" (click)="close()">
                CANCEL
            </button>
            <button mat-flat-button color="primary" (click)="save()" [disabled]="!holidayName">
                OK
            </button>
        </div>
    <!-- </form> -->
</div>

