<div class="flex h-full w-full">
    <form [formGroup]="contactForm" class="flex flex-col w-full">
        <div class="flex flex-row w-full mt-1">
            <div class="flex flex-col w-full">
                <div class="w-full">
                    <mat-label>Contact Name</mat-label>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput formControlName="contactName" placeholder="Input">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-row w-full mt-1">
            <div class="flex flex-col w-full">
                <div class="w-full">
                    <mat-label>Contact Email</mat-label>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput formControlName="contactEmail" placeholder="Input">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-row w-full mt-1">
            <div class="flex flex-col w-full">
                <div class="w-full">
                    <mat-label>Contact Mobile No</mat-label>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput formControlName="contactMobile" placeholder="Input">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>