<div class="flex flex-row p-2 border-box shadow-md">
    <h1 class="mb-1">Contact Information</h1>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-2 w-full gap-1">
        <div>
            <p class="break-all">Contact</p>
        </div>
        <div>
            <p class="break-all">firstname lastname</p>
        </div>
        <div>
            <p class="break-all">Email</p>
        </div>
        <div>
            <p class="break-all">firstname@ais.co.th</p>
        </div>
        <div>
            <p class="break-all">tel</p>
        </div>
        <div>
            <p class="break-all">0901234567</p>
        </div>
    </div>
</div>