<div class="flex flex-col w-full h-full p-1">
    <div class="flex flex-row pt-0 pb-2 items-center">
        <div class="w-5/6 text-left mt-auto mb-auto mr-4">
            <h1>Add Member to team : Team Name 1</h1>
        </div>
        <div class="w-1/6 text-right m-auto">
            <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="flex flex-row mt-2">
        <div class="w-3/6 text-center mt-auto mb-auto mr-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Input">
            </mat-form-field>
        </div>
        <div class="w-3/6 text-center m-auto">
            <span>0 person selected</span>
        </div>
    </div>

    <div class="flex flex-col m-2">

        <div class="grid grid-cols-4 border-b-2 border-gray-300">
            <div></div>
            <div>Name</div>
            <div>Email</div>
            <div>Member fo</div>
        </div>

        <div class="overflow-auto">
            <div class="grid grid-cols-4 border-b-2 border-gray-300 mt-2 mb-2" *ngFor="let item of dataMock">
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>{{item.firstName + ' ' + item.lastName}}</div>
                <div>{{item.email}}</div>
                <div>
                    <span *ngFor="let member of item.members">
                        {{member}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>