<div class="flex flex-col p-2 w-full">
        <!-- <form [formGroup]="workingDayForm" class="flex flex-col w-full"> -->
            <div class="flex flex-row w-full" >
                <div class="flex flex-initial justify-start">
                    <mat-checkbox (selectionChange)="onChangeDayType($event)" 
                        
                    >
                    </mat-checkbox>
                </div>
                <div class="flex flex-auto justify-end">
                    <ngx-mat-timepicker-field
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                    
                    <ngx-mat-timepicker-field 
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                </div>
            </div>

                <!-- <mat-divider ></mat-divider>
            <div class="flex flex-row w-full" >
                <div class="flex flex-initial justify-start">
                    <span>
                        <mat-checkbox formControlName="tuesday">Tuesday</mat-checkbox>
                    </span>
                </div>
                <div class="flex flex-auto justify-end">
                    <ngx-mat-timepicker-field
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                    <ngx-mat-timepicker-field 
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                </div>
            </div>
                <mat-divider ></mat-divider>

            <div class="flex flex-row w-full" >
                <div class="flex flex-initial justify-start">
                    <span>
                        <mat-checkbox formControlName="wednesday">Wednesday</mat-checkbox>
                    </span>
                </div>
                <div class="flex flex-auto justify-end">
                    <ngx-mat-timepicker-field
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                    <ngx-mat-timepicker-field 
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                </div>
            </div>   
                <mat-divider ></mat-divider>

            <div class="flex flex-row w-full" >
                <div class="flex flex-initial justify-start">
                    <span>
                        <mat-checkbox formControlName="thursday">Thursday</mat-checkbox>
                    </span>
                </div>
                <div class="flex flex-auto justify-end">
                    <ngx-mat-timepicker-field
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                    <ngx-mat-timepicker-field 
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                </div>
            </div>  
                <mat-divider ></mat-divider>

            <div class="flex flex-row w-full" >
                <div class="flex flex-initial justify-start">
                    <span>
                        <mat-checkbox formControlName="friday">Friday</mat-checkbox>
                    </span>
                </div>
                <div class="flex flex-auto justify-end">
                    <ngx-mat-timepicker-field
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                    <ngx-mat-timepicker-field 
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                </div>
            </div>   
                <mat-divider ></mat-divider>

            <div class="flex flex-row w-full" >
                <div class="flex flex-initial justify-start">
                    <span>
                        <mat-checkbox formControlName="saturday">Saturday</mat-checkbox>
                    </span>
                </div>
                <div class="flex flex-auto justify-end">
                    <ngx-mat-timepicker-field
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                    <ngx-mat-timepicker-field 
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                </div>
            </div> 
                <mat-divider ></mat-divider>

            <div class="flex flex-row w-full" >
                <div class="flex flex-initial justify-start">
                    <span>
                        <mat-checkbox formControlName="sunday">Sunday</mat-checkbox>
                    </span>
                </div>
                <div class="flex flex-auto justify-end">
                    <ngx-mat-timepicker-field
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                    <ngx-mat-timepicker-field 
                        color="warn" 
                        [defaultTime]="'12:00 AM'"
                    >
                    </ngx-mat-timepicker-field>
                </div> -->

            <!-- </div>     -->
        <!-- </form>     -->
</div>