<div class="flex flex-col h-full gap-3">
    <div class="flex flex-row items-center gap-3">
        <span class="flex-auto font-semibold text-[1.875rem]">
            TICKET ANALYZE
        </span>
        <button class="flex-initial text-right " mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="flex md:flex-row flex-col gap-x-2 overflow-auto p-2">
        <div class="grid grid-cols-3 w-full">
            <p>Ticket No:</p>
            <p class="col-span-2 text-primary">
                {{ ticket?.id }}
            </p>

            <p>Description</p>
            <p class="col-span-2 text-primary break-all">
                {{ ticket?.problem?.description }}
            </p>

            <p>Status:</p>
            <p class="col-span-2 text-primary">
                {{ticket?.problem?.status}}
            </p>

            <p>Reason for reject:</p>
            <p class="col-span-2 text-primary">
                
            </p>
                 
            <p>Last Update:</p>
            <p class="col-span-2 text-primary">
                {{ticket?.updatedAt | date: 'dd/MM/yyyy hh:mm a'}}
            </p> 
        </div>

        <div class="flex flex-col w-full">
            <div class="flex flex-col">
                <span class="text-xl">Problem Name</span>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Please Select">
                        <mat-option *ngFor="let problem of problems" [value]="problem.value">
                            {{problem.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <span class="text-xl">Problem Category</span>   
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Please Select">
                        <mat-option *ngFor="let problem of problems" [value]="problem.value">
                            {{problem.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <span class="text-xl">Criticality</span>  
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Please Select">
                        <mat-option *ngFor="let problem of problems" [value]="problem.value">
                            {{problem.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="flex flex-col">
                <span class="text-xl">Assign to team</span>  
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Please Select">
                        <mat-option *ngFor="let problem of problems" [value]="problem.value">
                            {{problem.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>           
            </div>

        </div>
    </div>

    <div class="flex flex-row justify-end gap-3 ">
        <button mat-stroked-button color="primary" class="button-normal"
            (click)="close()"
        >
            CANCEL
        </button>
        <button mat-flat-button color="primary" class="button-normal"
            (click)="save()"
        >
            SAVE
        </button>
    </div>
</div>