<div class="flex flex-col w-full h-full gap-3">
    <div class="flex flex-row items-center gap-3">
        <h1 class="flex-auto">Ticket Analyze</h1>
        <button class="flex-initial text-right " mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="flex flex-row w-full ">
        <div class="grid grid-cols-2 w-full">
            <p>Ticket No:</p>
            <p>T000000000001</p>

            <p>Reason for reject:</p>
            <p>Text..............</p>
                
            <p></p>
            <p>Description 1 Description line2 Description line 3 </p>
                
            <p>Last Update</p>
            <p>10 Mar 2022 20.00</p> 
        </div>

        <div class="grid grid-cols w-full">
            <p>Problem Name</p>
            <mat-form-field appearance="outline">
                <mat-label>Please Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let problem of problems" [value]="problem.value">
                        {{problem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
                
            <p>Problem Category</p>
            <mat-form-field appearance="outline">
                <mat-label>Please Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let problem of problems" [value]="problem.value">
                        {{problem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p>Criticality</p>
            <mat-form-field appearance="outline">
                <mat-label>Please Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let problem of problems" [value]="problem.value">
                        {{problem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p>Assign to team</p>
            <mat-form-field appearance="outline">
                <mat-label>Please Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let problem of problems" [value]="problem.value">
                        {{problem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>           
        </div>
    </div>

    <div class="flex flex-row justify-end gap-3 ">
        <button mat-flat-button color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary">
            Save
        </button>
    </div>
</div>