<div class="flex flex-col w-full h-full gap-y-2" >
    <div class="flex flex-col">
        <div class="flex flex-row ">
            <p class="flex-auto text-[1.875rem] font-semibold " *ngIf="isNew"> Add Request Data </p>
            <p class="flex-auto text-[1.875rem] font-semibold " *ngIf="!isNew"> Edit Request Data </p>
            <button class="flex-initial" mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </div>

    
    <form [formGroup]="requestForm" >
        <div class="flex flex-col w-full">
            <div class="flex flex-col">
                <mat-label class="text-xl"> Key Name </mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="keyName" placeholder="Input">
                </mat-form-field>
            </div>
        
            <div class="flex flex-col">
                <mat-label class="text-xl"> Display Name </mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="displayName" placeholder="Input">
                </mat-form-field>
            </div>
        
            <div class="flex flex-col">
                <mat-label class="text-xl"> Control Type</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="textbox">Textbox</mat-option>
                        <mat-option value="textarea">Textarea</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <mat-label class="text-xl">Value List</mat-label>
                <mat-form-field class="example-chip-list" appearance="outline">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let list of requestValue" (removed)="remove(list)">
                        <!-- {{list.keyName}} -->
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input 
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="flex flex-row justify-end gap-x-2 ">
        <button mat-stroked-button color="primary" (click)="close()">
            CANCEL
        </button>
        <button mat-flat-button color="primary" (click)="save()" [disabled]="!request">
            OK
        </button>
    </div>

</div>

