<div class="grid grid-cols-5 p-2 cursor-pointer hover:card-hover min-h-20" 
    [ngClass]="{ 'card-active' : actived }"
    (click)="onSelected()"
>
    <p class="flex flex-col col-span-2">
        <span class="text-primary">
            {{team?.name}}
        </span>
        <span>
            {{team?.description}}
        </span>
    </p>
    <p [ngClass]="{ 
            'text-secondary-600' : team?.status !== teamStatus.active,
            'text-primary' : team?.status === teamStatus.active
        }"
    > 
        {{team?.status | titlecase}} 
    </p>
    
    <p class="flex flex-col">
        <span>
            {{team?.createBy}}
        </span>
        <span>
            {{ team?.createdAt | date: 'dd/MM/yyyy HH:mm '}}
        </span>
    </p>
    <p class="flex flex-col">
        <span>
            {{team?.updateBy}}
        </span>
        <span>
            {{ team?.updatedAt | date: 'dd/MM/yyyy HH:mm'}}
        </span>
    </p>
</div>