<mat-card class="grid grid-cols-5 py-2 cursor-pointer hover:card-hover" 
    [ngClass]="{ 'card-active' : isActive }"
    (click)="onSelected()"
>
    <p class="flex flex-col col-span-2">
        <span>
            {{team?.name}}
        </span>
        <span>
            {{team?.description}}
        </span>
    </p>
    <p> {{team?.status | titlecase}} </p>
    
    <p class="flex flex-col">
        <span>
            {{team?.createBy}}
        </span>
        <span>
            {{ team?.created | date}}
        </span>
    </p>
    <p class="flex flex-col">
        <span>
            {{team?.updateBy}}
        </span>
        <span>
            {{ team?.updated | date}}
        </span>
    </p>
</mat-card>