<div class="flex flex-row justify-end">
    <div class="flex flex-row  items-center gap-x-4">

        <span> Items Per Page</span>
        <mat-form-field appearance="outline" class="items-center min-w-18 w-18">
            <mat-select [value]="pageSize">
                <mat-option *ngFor="let option of pageSizeOptions" [value]="option" 
                    class="h-9"
                    (click)="changeItemPerPage(option)"
                >
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="flex items-center">
        <button mat-icon-button [disabled]="!canBackPage" (click)="prevPage()">
            <mat-icon>arrow_left</mat-icon>
        </button>
        
        <div *ngIf="morePrevView"> .... </div>

        <ng-container *ngFor="let page of pageViews;" >
            <button mat-icon-button 
                class="text-3xl font-medium min-h-6 w-6 h-6"
                (click)="clickPageNo(page + addPageViewNo)" 
                [ngClass]="{
                    'bg-primary' : pageNo === page + addPageViewNo
                }"
            >
                {{ page + addPageViewNo }}
            </button>
        </ng-container>
        
        <div *ngIf="moreNextView"> .... </div>

        <button mat-icon-button [disabled]="!canNextPage" (click)="nextPage()">
            <mat-icon>arrow_right</mat-icon>
        </button>

    </div>

</div>