
<div class="flex flex-col w-full h-90 overflow-auto ">
    <div class="grid grid-cols-3">
        <p><strong>No</strong></p>
        <p><strong>Category</strong></p> 
        <p></p>
    </div>

    <mat-divider></mat-divider>

    
        <ng-container *ngFor="let item of problemCategories" >
            <app-problem-category-info 
            [ProblemCategory]="item" (click)="onDetail($event)"
            >
            </app-problem-category-info>

            <mat-divider [inset]="true"></mat-divider>

        </ng-container>

</div>
    