<div class="w-full">
    <mat-drawer-container class="h-full">
        <mat-drawer-content style="width: auto;">
            <div class="flex flex-col h-full p-4">

                <div class="flex">
                    <div class="w-5/6 text-center m-auto">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Input">
                        </mat-form-field>
                    </div>
                    <div class="w-1/6 text-center m-auto">
                        <button mat-flat-button color="primary" 
                            (click)="drawerRight.toggle()"
                        >
                            Create
                        </button>
                    </div>
                </div>

                <div class="flex flex-row flex-wrap pt-4 pm-4 w-full ">
                    <div class="flex-initial w-3/12 text-center">
                        1
                    </div>
                    <div class="flex-initial w-3/12 text-center">
                        2
                    </div>
                    <div class="flex-initial w-3/12 text-center">
                        3
                    </div>
                    <div class="flex-initial w-3/12 text-center">
                        4
                    </div>
                </div>

                <div class="w-full">
                    <app-team-card-info></app-team-card-info>
                </div>

                <!-- <div class="flex flex-row w-full ">
                    <div class="flex-initial w-4/12 text-center">
                        1
                    </div>
                    <div class="flex-initial w-4/12 text-center">
                        2
                    </div>
                    <div class="flex-initial w-4/12 text-center">
                        3
                    </div>
                </div> -->

               

                <!-- <div class="flex flex-row w-full ">
                    <div class="flex-initial w-6/12">
                        <div class="flex-initial w-12/12 text-start">
                            3
                        </div>
                        <div class="flex-initial w-12/12 text-end">
                            4
                        </div>
                    </div>
                    <div class="flex-initial w-6/12 text-center">
                        5
                    </div>
                </div>

                <div class="flex">
                    <div class="w-1/2">
                        <div class="flex flex-col">
                            <div class="w-full">w-full</div>
                            <div class="w-full">w-full</div>
                        </div>
                    </div>
                    <div class="w-1/2">w-1/2</div>
                </div>

                <div class="flex">
                    <div class="w-3/6">w-3/6</div>
                    <div class="w-3/6">w-3/6</div>
                </div> -->


            </div>
        </mat-drawer-content>

        <!-- <mat-drawer #drawerRight style="width: 40%;" mode="side" [opened]="true" position="end">
            <div class="flex flex-col h-full p-4">View</div>
        </mat-drawer> -->
        <mat-drawer #drawerRight style="width: 40%;" mode="over" [opened]="true" position="end">
            <div class="w-full p-4">
                Edit
                <app-team-info-edit></app-team-info-edit>
            </div>
        </mat-drawer>

    </mat-drawer-container>
</div>