<div class="flex flex-col h-full p-1">
    <div class="flex flex-row w-full mt-0 mb-2 p-2 items-center" style="border-bottom: 1px solid #d4dde7;">
        <div class="w-5/6 text-left mt-auto mb-auto mr-4">
            <h1>Add Problem to team : Team Name 1</h1>
        </div>
        <div class="w-1/6 text-right m-auto">
            <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="flex flex-row w-full">
        <div class="w-3/6 text-center mt-auto mb-auto mr-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Input">
            </mat-form-field>
        </div>
        <div class="w-3/6 text-center m-auto">
            <span>0 person selected</span>
        </div>
    </div>

    <div class="flex flex-col w-full h-5/6">
        <div class="grid grid-cols-5 h-8">
            <div>No</div>
            <div>Problem Name</div>
            <div>Description</div>
            <div>Problem Cetegory</div>
            <div>Criticallty</div>
        </div>

        <div class="grid grid-cols-5 h-8" *ngFor="let item of dataMock">
            <div> <mat-checkbox></mat-checkbox> {{item.No}}</div>
            <div>{{item.problemName}}</div>
            <div>{{item.description}}</div>
            <div>{{item.category}}</div>
            <div>
                <app-criticality-icon 
                    [text]="item.criticality.text" 
                    [iconName]="item.criticality.iconName" 
                    [color]="item.criticality.color"
                    [mode]="item.criticality.mode"
                >                       
                </app-criticality-icon>
            </div>
            <!-- <mat-divider style="background-color: blue;"></mat-divider> -->
        </div>
      

    </div>

    <div style="background-color: aqua; height: auto;">
        <button mat-flat-button color="primary" >
            Ca
        </button>
        <button mat-flat-button color="primary" >
            Create
        </button>
    </div>
</div>