<div class="flex flex-col h-full p-1 w-full">
    <div class="flex flex-row p-2 mt-0">
            <h1 class="flex-auto text-left">Assign Problem to team : Team Name 1</h1>
            <button class="flex-initial text-right" mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
    </div>
    <mat-divider class="mb-2" ></mat-divider>

    <div class="flex-row">
            <mat-form-field appearance="outline" class="w-4/6 mr-4">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Input">
            </mat-form-field>
            <span class="w-2/6 text-center">0 person selected</span>
    </div>

    <div class="flex flex-col h-5/6 mb-6 overflow-auto">
        <div class="grid grid-cols-5 p-3 font-bold  border-b-2 border-neutral-300" >
            <div>No</div>
            <div>Problem Name</div>
            <div>Description</div>
            <div>Problem Cetegory</div>
            <div>Criticallty</div>
        </div>
        
        <div class="grid grid-cols-5 p-3 border-b-2 border-neutral-300 hover:bg-sky-300" *ngFor="let item of data">
            <div> 
                <mat-checkbox></mat-checkbox> 
                <span>
                    {{item.No}}
                </span>
            </div>
            <div>{{item.problemName}}</div>
            <div>{{item.description}}</div>
            <div>{{item.category}}</div>
            <app-criticality-icon 
                    [text]="item.criticality.text" 
                    [iconName]="item.criticality.iconName" 
                    [color]="item.criticality.color"
                    [mode]="criticalityMode"
                >                       
            </app-criticality-icon>
            <!-- <mat-divider style="background-color: blue;"></mat-divider> -->
        </div>
    </div>

    <div class="flex flex-row justify-end gap-2">
            <button mat-flat-button color="primary" (click)="close()">
                Cancel
            </button>
            <button mat-flat-button color="primary">
                Save
            </button>
    </div>
</div>