<div class="flex flex-col w-full gap-2">
    <!-- <form> -->
        <div class="flex flex-col">
            <mat-label>Problem Name</mat-label>
            <mat-form-field appearance="outline">
                <input matInput  placeholder="Input">
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <mat-label>Problem Description</mat-label>
            <mat-form-field appearance="outline">
                <textarea matInput [rows]="3"></textarea>
            </mat-form-field>
        </div>
    <!-- </form> -->
</div>