/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "./custom-material";
@tailwind base;

@layer base {
    .button-normal {
        @apply text-3xl h-10 max-h-10 min-w-32 #{'!important'};
    }

    .button-large {
        @apply text-3xl h-10 max-h-10 min-w-[13.4375rem] #{'!important'};
    }

    .button-icon {
        @apply min-h-5 min-w-5 w-5 h-5 #{'!important'};
    }
    
    .card-active {
        background-color: var(--fuse-secondary-600) !important;
        @apply rounded-lg #{'!important'};
    }

    .card-hover {
        background-color: var(--fuse-secondary-600) !important;
        @apply rounded-lg #{'!important'};
    }

    .border-box {
        border-color: var(--fuse-secondary-600) !important;
        @apply border-2 rounded-2xl #{'!important'};
    }
    
    /**
    * 13/5/2022 Yothin
    * REMARK : when response at md size that component must insert min-height 
    * if it wasn't insert min-height , height become zero. I don't know what happen
    */
    .min-height {
        min-height: calc(100vh - 4rem);
    }

    .custome-class {
  direction: ltr;
  .timepicker__header {
    padding: 0px 30px !important;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .timepicker-dial__control {
    font-size: 20px !important;
  }

  .timepicker-dial {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    height: 44px;
  }
}
}
