<mat-drawer-container class=" w-full h-full ">
    <mat-drawer-content class="flex flex-col p-4 ">
        <ng-container *ngIf="holidayResponse$ | async as holidayResponse">
            <span class="text-xl pl-4 ">
                Select Team*
            </span>  
            <div class="flex flex-row  w-full gap-2" >          
                <mat-form-field class="w-3/4">
                    <mat-select>
                        <mat-option *ngFor="let holiday of holidays" [value]="holiday.value">
                            {{holiday.viewValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <button class="button-normal text-center" mat-flat-button color="primary"
                    (click)="openHolidayDialog()"
                >
                    ADD HOLIDAY
                </button>
            </div>

            <!-- Holiday Header -->
            <div class="grid grid-cols-5">
                <p><strong>Holiday Name</strong></p>
                <p><strong>Date</strong></p>
                <p></p>
                <p><strong>Hours</strong></p>
            </div>
        
            <mat-divider></mat-divider>

            <app-holiday-list [holidays]="holidayResponse.data" 
                (edit)="openHolidayDialog($event)" 
            >
            </app-holiday-list>
        </ng-container>
    </mat-drawer-content>

    <!-- <mat-drawer #drawerDetail class="lg:w-full xl:w-160 w-full" 
        [mode]="isViewMode ? 'side' : 'over' " position="end"
        disableClose="true"
    >
        <app-team-information-view *ngIf="isViewMode" 
            (closed)="onViewClosed($event)"
            (edit)="onTeamEdit('edit')"
        >
        </app-team-information-view>
        <app-team-information-edit *ngIf="!isViewMode"
            [mode]="teamInfoMode"
            (closed)="onTeamEditClosed($event)"
        >
        </app-team-information-edit>
    </mat-drawer> -->
</mat-drawer-container>


