<div  class="grid grid-cols-6  gap-x-2 p-2 border-box shadow-md">

        <p class="text-primary" >Criticality</p>
        <p class="flex flex-row col-span-5 break-all">
            <span> {{problem?.criticality?.name}}{{' '}}{{problem?.criticality?.acknowledgeTime}}</span>
            <app-criticality-icon class="p-1"
                [color]="problem?.criticality?.color"
            >
            </app-criticality-icon> 
        </p>

        <p class="text-primary" >Category</p>
        <p class="col-span-5 break-all">{{problem?.category?.name}}</p>

        <p class="text-primary" >Created</p>
        <p class="col-span-5 break-all">{{problem?.category?.createBy}}</p>

        <p></p>
        <p class="col-span-5 break-all">{{problem?.created | date:'dd/MM/yyyy'}}</p>

        <p class="text-primary" >Updated</p>
        <p class="col-span-5 break-all">{{problem?.updateBy}}</p>

        <p></p>
        <p class="col-span-5 break-all">{{problem?.updated | date:'dd/MM/yyyy'}}</p>

</div>

