<div class="flex flex-col w-full gap-y-2 px-2 pb-4">
    <div class="z-20 sticky top-0 flex flex-col bg-default">
        <div class="flex flex-row py-2 px-4 items-center  gap-x-2">
            <p class="flex-auto text-[1.875rem] tracking-wider text-primary font-semibold">
                Ticket No:  TK 00000001
            </p>
            <!-- <span class="flex-initial ">
                Status : Active
            </span>
            <button mat-icon-button class="flex-initial"
                (click)="onClose()"
            >
                <mat-icon>close</mat-icon>
            </button> -->
        </div>
        <mat-divider></mat-divider>
    </div>

    

    <div class="flex flex-col px-1 gap-y-2">
        <app-my-ticket-info-view>

        </app-my-ticket-info-view>

        <app-my-ticket-order-info-view>
            
        </app-my-ticket-order-info-view>
    </div>

</div>