<div class="flex flex-col w-full h-full">
    <div class="flex flex-row pt-2 pb-2 items-center gap-2">
        <h1 class="flex-auto">Ticket Problem Name 01</h1>
        <span class="flex-initial ">Status : Active</span>
        <button mat-icon-button class="flex-initial">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="flex flex-col mt-2 mb-2 p-1 border-2 border-gray-300 rounded">

        <!-- Content My Ticket Info -->
        <app-my-ticket-info-view>

        </app-my-ticket-info-view>
    </div>

</div>