<div class="flex flex-col w-full h-90 overflow-auto ">
    <div class="grid grid-cols-4">
        <p class="col-span-4"></p>
        <p><strong>No</strong></p>
        <p><strong>Problem Cause</strong></p>
    </div>

    <mat-divider></mat-divider>

    <ng-container *ngFor="let item of problemCauses" >
        <app-problem-cause-info 
            [ProblemCauses]="item" (click)="onDetail(item)"
        >
        </app-problem-cause-info>

        <mat-divider [inset]="true"></mat-divider>

    </ng-container>
</div>
    