<ng-container *ngIf="{ activeProblem : activeProblem$ | async } as data">
    <div class="flex flex-col w-full gap-y-2 px-4 pb-4">
        <div class="z-20 sticky top-0 flex flex-col bg-default">
            <div class="flex flex-row py-2 px-4 items-center">
                <p class="flex-auto text-[1.875rem] tracking-wider text-primary font-semibold">
                    <span *ngIf="isCreateMode">Create Problem</span>
                    <span *ngIf="isEditMode">Edit Team</span>
                </p>

                <mat-slide-toggle 
                    class="flex-initial pr-5"
                    color="primary"
                    [(ngModel)]="isActiveStatus"
                >
                    <span *ngIf="isActiveStatus">
                        Status : Active
                    </span>
                    <span *ngIf="!isActiveStatus" class="text-warn-500">
                        Status : InActive
                    </span>
                </mat-slide-toggle>
                
            </div>
            <mat-divider class="mx-2"></mat-divider>
        </div>
        <div class="flex flex-col px-1 gap-y-2">         
            <app-problem-info-edit [problem]="data.activeProblem">

            </app-problem-info-edit>

            <app-problem-control-edit [problem]="data.activeProblem">

            </app-problem-control-edit>

            <div *ngIf="isEditMode" 
                class="flex flex-row justify-end gap-x-2 mr-6"
            >
                <button mat-stroked-button color="primary"
                    class="button-normal"
                    (click)="onEditCancel()"
                >
                    CANCEL
                </button>
                <button mat-flat-button color="primary"
                    class="button-normal"
                    (click)="onEditSave()"
                >
                    SAVE
                </button>
            </div>
        </div>
        
        <app-request-data mode="edit">

        </app-request-data>


        <div class="flex flex-row">
            <span>External Operation</span>
            <mat-slide-toggle class="flex-initial">

            </mat-slide-toggle>
        </div>

        <app-team-owner mode="edit"
            [problem]="data.activeProblem"
            (clickAdd)="openTeamOwnerDialog()"
            (clickDel)="onDelTeamOwner($event)"
        >

        </app-team-owner>


        <div *ngIf="isCreateMode" 
            class="flex flex-row justify-end gap-x-2 mr-6"
        >
            <button mat-stroked-button color="primary"
                class="button-normal"
                (click)="onCreateCancel()"
            >
                CANCEL
            </button>
            <button mat-flat-button color="primary"
                class="button-normal"
                (click)="onCreateSave()"
            >
                SAVE
            </button>
        </div>

    </div>
</ng-container>