<div class="flex flex-col w-full h-full p-1" >
    <div class="flex flex-row ">
        <h1 class="flex-auto justify-start "> Create Problem Category </h1>
        <button class="flex-initial" mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

    <div class="flex h-full w-full">
        <form [formGroup]="categoryForm" class="flex flex-col w-full">
            <div class="flex flex-col ">
                <mat-label>Category Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="categoryName" placeholder="Input">
                </mat-form-field>
            </div>
        </form>
    </div>

    <div class="flex flex-row justify-end gap-3 ">
        <button mat-flat-button color="primary" (click)="close()">
            Cancel
        </button>
        <button mat-flat-button color="primary" (click)="saveFrom()">
            OK
        </button>
    </div>

</div>
