<div class="grid grid-cols-4 py-2 hover:bg-gray-300 cursor-pointer">
    
    <p>
        {{requestData.keyName}}
    </p>
    <p>
        {{requestData.displayName}}
    </p>
    <p>
        {{requestData.controlType}} 
    </p>

    <div [ngClass]="{ 'hover:card-hover' : isEditMode }">
        <ng-container *ngIf="isEditMode">
            <div class="flex flex-row gap-x-4">
                <mat-icon (click)="onSelectEdit(requestData)" 
                    class="cursor-pointer button-icon invisible group-hover:visible 
                    hover:text-warn-500 items-center flex-initial"
                    svgIcon="delete"
                >  
                edit
                </mat-icon>
                <mat-icon class="cursor-pointer button-icon invisible group-hover:visible 
                    hover:text-warn-500 items-center flex-initial"
                    svgIcon="delete"
                >
                delete
                </mat-icon>
            </div>
    </ng-container>

    </div>
        
</div>