<div class="grid grid-cols-4 py-2 hover:bg-gray-300 cursor-pointer">
    
    <p>
        {{requestData.keyName}}
    </p>
    <p>
        {{requestData.displayName}}
    </p>
    <p>
        {{requestData.controlType}} 
    </p>

    <div>
        
            <div class=" group flex flex-row gap-x-4 ">
                <mat-icon class="cursor-pointer button-icon invisible group-hover:visible 
                    hover:text-warn-500 items-center flex-initial" 
                    (click)="onSelectEdit(requestData)" 
                >  
                edit
                </mat-icon>
                <mat-icon class="cursor-pointer button-icon invisible group-hover:visible 
                    hover:text-warn-500 items-center flex-initial"
                    svgIcon="delete"
                >
                </mat-icon>
            </div>

    </div>
        
</div>