<mat-accordion>
    <mat-expansion-panel class="p-2" >
        <mat-expansion-panel-header class="p-0">
            <mat-panel-title>
                <app-criticality-icon 
                    [text]="problem.criticality.name" 
                    [color]="problem.criticality.color"
                    mode="small"
                >
                </app-criticality-icon>
                <p> 
                    {{ problem.name }} 
                </p>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            Some deferred content
        </ng-template>
        
    </mat-expansion-panel>
</mat-accordion>
