<!-- <p>my-ticket-info works!</p> -->
<div class="flex flex-col">
    <div class="flex flex-row w-full gap-1">
        <div class="grid grid-cols-2 w-full">
            <div>
                <p class="break-all">Ticket No</p>
                <p class="break-all">Description</p>
                <p class="break-all">Description 1</p>
                <p class="break-all">Description Line 2</p>
                <p class="break-all">Description Line 2</p>
            </div>
            <div>
                <p class="break-all">TK0000000001</p>
            </div>
        </div>
        <div class="flex flex-row w-full"> 
            <div class="grid grid-cols-2 w-full">
                <div>
                    <p class="break-all">Category</p>
                    <p class="break-all">Order No</p>
                    <p class="break-all">Created</p>
                </div>
                <div>
                    <p class="break-all">Product Problem</p>
                    <p class="break-all">No xx 0012345</p>
                    <p class="break-all">10 Mar 2022 20:00</p>
                </div>

            </div>

        </div>

    </div>

</div>