<div class="flex flex-col w-full h-full p-1" >
    <div class="flex flex-row ">
        <h1 class="flex-auto justify-start " *ngIf="isNew"> Add Problem Cause </h1>
        <h1 class="flex-auto justify-start " *ngIf="!isNew"> Edit Problem Cause </h1>
        <button class="flex-initial" mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

    <div class="flex flex-col">
        <mat-label class="text-xl">Cause Name</mat-label>
        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="causeName">
        </mat-form-field>
    </div>
    <div class="flex flex-row justify-end gap-x-2 ">
        <button mat-stroked-button color="primary" class="button-normal" (click)="close()">
            CANCEL
        </button>
        <button mat-flat-button color="primary" class="button-normal" (click)="save()" [disabled]="!causeName">
            OK
        </button>
    </div>
</div>



