<div class="flex flex-col w-full h-90 overflow-auto ">
    <div class="grid grid-cols-5">
        <p><strong>Holiday Name</strong></p>
        <p><strong>Date</strong></p>
        <p></p>
        <p><strong>Hours</strong></p>
        <p></p>
    </div>

    <mat-divider></mat-divider>
    <div class="h-100 overflow-auto">
        <app-sla-holiday-info *ngFor="let item of dateMock" 
            [holidayData]="item" (click)="onDetail(item)"
        >
        </app-sla-holiday-info>

        <mat-divider [inset]="true"></mat-divider>
    </div>
</div>   
