<div class="flex flex-col">
    <div class="flex flex-row w-full ">
        <div class="grid grid-cols-2 w-full">
            <div>
                <p class="break-all">Criticality:</p>
                <p class="break-all">Problem Name</p>
                <p class="break-all pb-11">Description</p>
                <p class="break-all">Team Owner</p>
            </div>
            <div>
                <p class="break-all">Critical 4Hrs</p>
                <p class="break-all">Ticket Problem name1</p>
                <p class="break-all">
                    Description 111111111111111111111111111111111111111111111111111111111111111111111111</p>
                <p class="break-all">Team Owner name</p>
            </div>
        </div>

        <div class="flex flex-row w-full" >
            <div class="grid grid-cols-2 w-full">
                <div>
                    <p class="break-all">Status:</p>
                    <p class="break-all pb-15">Category</p>
                    <p class="break-all">Last Update</p>
                </div>
                <div>
                    <p class="break-all">Open</p>
                    <p class="break-all pb-15">Product Problem</p>
                    <p class="break-all">10 Mar 2022 20.00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row justify-end gap-3 mt-2 mb-2">
        <button mat-flat-button class="flex-initial" color="primary">
            Reject
        </button>
        <button mat-flat-button class="flex-initial"  color="primary">
            Asscept
        </button>
    </div>
</div>



 
