<div class="flex flex-col p-2 min-h-26 border-box gap-y-2 shadow-md">
    <div class="flex items-center">
        <p class="flex-auto text-3xl tracking-wide text-primary font-semibold">
            <span>Problem Support</span>
            <span *ngIf="team?.problems?.length > 0">
                ({{ team?.problems?.length }})
            </span> 
        </p>
        <button mat-flat-button color="primary"
            *ngIf="mode === 'edit' " 
            class=" button-normal mr-4"
            (click)="clickAdd.emit(undefined)" 
        >
            Add Problem
        </button>
    </div>
    
    <mat-divider></mat-divider>

    <div class="flex flex-col gap-y-2">
        <ng-container  *ngFor="let problem of team?.problems" >
            <app-problem-expansion  [problem]="problem" >
    
            </app-problem-expansion>
        </ng-container>
    </div>
    
</div>