<div class="grid  grid-cols-6 lg:grid-cols-5 p-2 border-box shadow-md">
    <p class="text-primary">Status</p>
    <p class="col-span-5 lg:col-span-4 text-primary">Opened</p>

    <p class="text-primary">Criticality</p>
    <app-criticality-icon
        [color]="ticket?.problem?.criticality?.color"
        [text]="ticket?.problem?.criticality?.name + ' ' + ticket?.problem?.criticality?.acknowledgeTime"
        mode="medium-right"
        class="col-span-5 lg:col-span-4"
    >
        
    </app-criticality-icon>

    <p class="text-primary">Category</p>
    <p class="col-span-5 lg:col-span-4">
        {{ticket?.problem?.category?.name}}
    </p>

    <p class="text-primary">Problem Name</p>
    <p class="col-span-5 lg:col-span-4">
        {{ticket?.problem?.name}}
    </p>

    <p class="text-primary">Description</p>
    <p class="col-span-5 lg:col-span-4 break-all">
        {{ticket?.problem?.description}} 
    </p>

    <p class="text-primary">Team Owner</p>
    <p class="col-span-5 lg:col-span-4">
        {{ticket?.problem?.teamOwner.name}} 
    </p>

    <p class="text-primary">Last Update</p>
    <p class="col-span-5 lg:col-span-4">
        {{ticket?.updatedAt | date: 'dd/MM/yyyy hh:mm a'}}
    </p>
</div>



 
