<div class="flex flex-col p-2 border-box shadow-md">
    <div class="grid grid-cols-4 gap-2">
        <p>Criticality:</p>
        <p>Critical 4Hrs</p>
        <p>Status</p>
        <p>Opened</p>

        <p>Problem Name</p>
        <p>Ticket Problem name</p>
        <p>Category</p>
        <p>Product Problem</p>

        <p>Description</p>
        <p>Description 1 Description 1 Description 1 Description 1 Description 1 Description 1</p>
        <p></p>
        <p></p>

        <p>Team Owner</p>
        <p>team Owner name</p>
        <p>Last Update</p>
        <p>10 Mar 2022 20.00</p>
    </div>
</div>



 
