<div class="group grid grid-cols-4 py-2  hover:card-hover">
    <p>
        {{ problemCause.id }}
    </p>
    <p class="col-span-2">
        {{ problemCause.name }}
    </p>
    <div class="flex flex-row gap-x-2 items-center "> 
        <mat-icon class="cursor-pointer invisible group-hover:visible hover:text-warn-500"
            (click)="edit.emit(problemCause)"
        > 
            edit 
        </mat-icon>
        <mat-icon class="cursor-pointer invisible group-hover:visible hover:text-warn-500"
            (click)="del.emit(problemCause)"
        > 
            delete 
        </mat-icon>
    </div>
</div>
