<div class="flex flex-col w-full h-full">
    <div class="flex flex-row pt-2 pb-2 items-center gap-2">
        <h1 class="flex-auto">Team Information</h1>
        <span class="flex-initial ">Status : Active</span>
        <button mat-flat-button class="flex-initial text-center" color="primary">
            Edit
        </button>
        <button mat-icon-button class="flex-initial">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="flex flex-row mt-2 mb-2">
        <div class="grid grid-cols-2 w-full gap-1">
            <div class="mr-1 p-1 border-2 border-gray-300 rounded">

                <app-team-info-view>

                </app-team-info-view>

            </div>

            <div class="mr-1 p-1 border-2 border-gray-300 rounded">

                <app-team-contact-view>

                </app-team-contact-view>

            </div>
        </div>
    </div>

    <div class="flex flex-col mt-2 mb-2 p-1 border-2 border-gray-300 rounded">
        <h1 class="mb-1">Team Member (3)</h1>

        <mat-divider></mat-divider>

        <!-- Content Team Member -->
        <app-team-member-view>

        </app-team-member-view>
    </div>

    <div class="flex flex-col w-full mt-2 mb-2 p-1 border-2 border-gray-300 rounded">
        <h1 class="mb-1">Problem Support (2)</h1>

        <mat-divider></mat-divider>

        <!-- Content Problem Support -->
        <app-problem-support-view>
            
        </app-problem-support-view>
    </div>

    <div class="flex flex-row justify-end pr-15">
        <button mat-flat-button color="primary">
            Delete
        </button>
    </div>

</div>