<!-- <div class="flex flex-col w-full">
    <div class="grid grid-cols-2">
        <p>Criticality</p>
        <p class="break-all">Thanayut</p>

        <p>Category</p>
        <p class="break-all">Test@gmail.com</p>

        <p>Created</p>
        <p class="break-all">Thanayut Test1</p>

        <p></p>
        <p class="break-all">10 Mar 2022 20:00</p>

        <p>Updated</p>
        <p class="break-all">Thanayut Test1</p>

        <p></p>
        <p class="break-all">10 Mar 2022 20:00</p>
    </div>
</div> -->


<div class="flex flex-col w-full gap-2">
    <div class="flex flex-row gap-4">
        <p class="basis-1/4">Criticality</p>
        <p class="flex flex-row break-all basis-3/4 ">
            <span> Critical 4 Hrs </span>
            <app-criticality-icon ></app-criticality-icon> 
        </p>
    </div>

    <div class="flex flex-row gap-4">
        <p class="basis-1/4">Category</p>
        <p class="break-all basis-3/4">Product Category</p>
    </div>

    <div class="flex flex-row gap-4">
        <p class="basis-1/4">Created</p>
        <p class="flex flex-col basis-3/4 break-all">
            <span>firstname lastname</span>
            <span>10 Mar 2022 20:00</span>
        </p>
    </div>

    <div class="flex flex-row gap-4">
        <p class="basis-1/4">Updated</p>
        <p class="flex flex-col basis-3/4 break-all">
            <span>firstname lastname</span>
            <span>10 Mar 2022 20:00</span>
        </p>
    </div>

</div>

