<div class="flex flex-col w-full">
    <div class="grid grid-cols-3">
        <p>Criticality</p>
        <p class="flex flex-row col-span-2 break-all">
            <span> Critical 4 Hrs </span>
            <app-criticality-icon ></app-criticality-icon> 
        </p>

        <p>Category</p>
        <p class="col-span-2 break-all">Product Category</p>

        <p>Created</p>
        <p class="col-span-2 break-all">Thanayut Test1</p>

        <p></p>
        <p class="col-span-2 break-all">10 Mar 2022 20:00</p>

        <p>Updated</p>
        <p class="col-span-2 break-all">Thanayut Test1</p>

        <p></p>
        <p class="col-span-2 break-all">10 Mar 2022 20:00</p>
    </div>
</div>