<div class="flex w-full p-2 border-box shadow-md">
    <form [formGroup]="infoForm" class="flex flex-col w-full">
        <div class="flex flex-col">
            <mat-label class="text-xl">
                Team Name
            </mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="name" placeholder="Team name">
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <mat-label class="text-xl">
                Team Description
            </mat-label>
            <mat-form-field appearance="outline">
                <textarea matInput [rows]="4" formControlName="description">

                </textarea>
            </mat-form-field>
        </div>

    </form>
</div>