<div class="flex flex-col w-full h-full overflow-hidden gap-y-2">
    <div class="flex flex-col gap-y-2">
        <div class="flex flex-row items-center">
            <p class="flex-auto font-semibold text-[1.875rem]">
                ADD MEMBER TO TEAM : {{ team?.name || '' }}
            </p>
            <button mat-icon-button class="flex-initial" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    
        <mat-divider></mat-divider>
    </div>

    <div class="flex flex-row gap-x-4">
        <mat-form-field appearance="outline" class="w-3/5" >
            <input matInput placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <p class="flex-initial">0 person selected</p>
    </div>

    <div class="grid grid-cols-3 font-semibold">
        <p>Name</p>
        <p>Email</p>
        <p>Member to</p>
    </div>
    <mat-divider></mat-divider>

    <div class="flex flex-col overflow-auto">
        <div *ngFor="let item of dataMock">
            <div class="grid grid-cols-3 p-2 hover:card-hover">
                <div>
                    <mat-checkbox>
                        
                    </mat-checkbox>
                    <span> {{item.firstName + ' ' + item.lastName}} </span>
                </div>
                <p>{{item.email}}</p>
                <p>
                    <span *ngFor="let member of item.members">
                        {{member}}
                    </span>
                </p>
            </div>
            <mat-divider></mat-divider>
        </div>

    </div>

    <div class="flex flex-row justify-end gap-x-2 mr-15">
        <button mat-stroked-button color="primary" 
            class="button-normal"
            (click)="close()"
        >
            CANCEL
        </button>
        <button mat-flat-button color="primary" 
            class="button-normal"
            (click)="save()"
        >
            SAVE
        </button>
    </div>

</div>