<div class="flex flex-row">
    <div class="w-1/2">
        <div class="flex flex-col">
            <div class="w-full">
                <p>1. FirstName LastName</p>
                <p>2. FirstName LastName</p>
                <p>3. FirstName LastName</p>
                <p>4. FirstName LastName</p>
                <p>5. FirstName LastName</p>
            </div>
        </div>
    </div>

    <div class="w-1/2">
        <div class="flex flex-col">
            <div class="w-full">
                <p>EmailTest1@gmail.com</p>
                <p>EmailTest2@gmail.com</p>
                <p>EmailTest3@gmail.com</p>
                <p>EmailTest4@gmail.com</p>
                <p>EmailTest5@gmail.com</p>
            </div>
        </div>
    </div>
</div>