<mat-card class="flex w-full p-2 border-box ">
    <form [formGroup]="contactForm"  class="flex flex-col w-full">
        <div class="flex flex-col">
            <mat-label class="text-xl">
                Contact Name
            </mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="contactName" placeholder="Name">
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <mat-label class="text-xl">
                Contact Email
            </mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="contactEmail" placeholder="Email">
            </mat-form-field>
        </div>

        <div class="flex flex-col">
            <mat-label class="text-xl">
                Contact Mobile No
            </mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="contactMobile" placeholder="Mobile No">
            </mat-form-field>
        </div>
    </form>
</mat-card>