<div class="grid grid-flow-col grid-cols-5 pt-2 pb-2 hover:bg-gray-300 cursor-pointer">
    <div class="flex flex-row col-span-2"> 
        <app-criticality-icon class="pt-4" text='Critical'></app-criticality-icon> 
        <div class=" flex flex-col">
            <span>
                {{problemData?.name}}
            </span>
            <span>
                {{problemData?.description}}
            </span>
        </div>
    </div>
    <div>{{problemData?.status}}</div>
    <div class="flex flex-col">
        <span>
            {{problemData?.createBy}}
        </span>
        <span>
            {{ problemData?.created | date:'dd/MM/yyyy'}}
        </span>
    </div>

    <div class="flex flex-col">
        <span>
            {{problemData?.updateBy}}
        </span>
        <span>
            {{ problemData?.updated | date:'dd/MM/yyyy' }}
        </span>
    </div>

</div>
