<ng-container *ngIf="activeTeam$ | async as activeTeam">
    <div class="flex flex-col w-full gap-y-2 px-2 pb-4">
        <div class="z-20 sticky top-0 flex flex-col bg-white">
            <div class="flex flex-row py-2 px-4 items-center  gap-x-2">
                <p class="flex-auto text-[1.875rem] tracking-wide text-primary font-semibold">
                    TEAM INFORMATION
                </p>
                <span class="flex-initial"
                    [ngClass]="{ 
                        'text-warn-500' : activeTeam?.status !== teamStatus.active,
                        'text-primary' : activeTeam?.status === teamStatus.active
                    }"
                >
                    Status : {{ activeTeam?.status | titlecase }}
                </span>
                
                <button mat-flat-button class="button-normal flex-initial text-center" color="primary"
                    (click)="edit.emit(undefined)"
                >
                    EDIT 
                </button>
                <button mat-icon-button class="flex-initial" (click)="closed.emit(undefined)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <mat-divider class="mx-2"></mat-divider>
        </div>

        <div class="flex flex-col px-1 gap-y-2">
            <app-team-info-view [team]="activeTeam">
            </app-team-info-view>

            <app-team-contact-view [team]="activeTeam">
            </app-team-contact-view>
            
            <app-team-member [team]="activeTeam">
            </app-team-member>
                
            <app-problem-support [team]="activeTeam">
            </app-problem-support>
        
            <div class="flex flex-row justify-end mr-15">
                <button mat-stroked-button color="primary" color="warn" 
                    class="button-normal"
                    (click)="onTeamDelete(activeTeam.id)"
                >
                    <div class="flex gap-x-2">
                        <mat-icon class="button-icon" svgIcon="delete">
                        </mat-icon>
                        <span>DELETE </span>
                    </div>
                </button>
            </div>
        </div>

    </div>
</ng-container>