
<div class="flex flex-col w-full ">
    <!-- <div class="grid grid-cols-4">
        <p><strong>No</strong></p>
        <p class="col-span-2">
            <strong>Category</strong>
        </p> 
        <p></p>
    </div>

    <mat-divider></mat-divider> -->

    <ng-container *ngFor="let category of problemCategories; let i = index">
        <app-problem-category-info [problemCategory]="category" 
            (edit)="edit.emit({index: i, problemCategory: category})"
            (del)="del.emit({index: i, problemCategory: category})"
        >
        </app-problem-category-info>

        <mat-divider></mat-divider>

    </ng-container>

</div>
    