<div class="group grid grid-cols-5 p-2 hover:card-hover">
    <p> 
        {{ holiday.name }}
    </p>
    <p> 
        {{ holiday.date | date: 'dd/MM/yy hh:mm:ss a' }}
    </p>
    <p> 
        {{ holiday.isWholeDay }}
    </p>
    <p> 
        {{ holiday.startTime + ' - ' + holiday.endTime}} 
    </p>
    <div class="flex flex-row gap-x-2 items-center" > 
        <mat-icon class="cursor-pointer invisible group-hover:visible hover:text-warn-500"
            (click)="edit.emit(holiday)"
        > 
            edit 
        </mat-icon>
        <mat-icon class="cursor-pointer invisible group-hover:visible hover:text-warn-500"   
            (click)="del.emit(holiday)"
        > 
            delete 
        </mat-icon>
    </div>
</div>
 