<div class="flex flex-col w-full">
    <div class="grid grid-cols-3" style="border: 1px solid red;">
        <p>Contact</p>
        <p class="col-span-2">Thanayut Test</p>
        <!-- </div> -->
        <!-- <div class="grid grid-cols-3" style="border: 1px solid red;"> -->
        <p>Email</p>
        <p class="col-span-2">Test@gmail.com</p>
        <!-- </div> -->
        <!-- <div class="grid grid-cols-3" style="border: 1px solid red;"> -->
        <p>Mobile</p>
        <p class="col-span-2">0856541234</p>
        <!-- </div> -->
        <!-- <div class="grid grid-cols-3" style="border: 1px solid red;"> -->
        <p>Created</p>
        <p class="col-span-2">Thanayut Test1</p>
        <p></p>
        <p class="col-span-2">10 Mar 2022 20:00</p>

        <!-- </div> -->
        <!-- <div class="grid grid-cols-3" style="border: 1px solid red;"> -->
        <p>Updated</p>
        <!-- <div class="col-span-2 grid grid-cols-2"> -->
        <p class="col-span-2">Thanayut Test1</p>
        <p></p>
        <p class="col-span-2">10 Mar 2022 20:00</p>
        <!-- </div> -->
    </div>

    <!-- <div class="flex flex-row">
        <p class="w-2/6">Contact</p>
        <p class="w-4/6">Thanayut Test</p>
    </div>

    <div class="flex flex-row">
        <p class="w-2/6">Email</p>
        <p class="w-4/6">Test@gmail.com</p>
    </div>

    <div class="flex flex-row">
        <p class="w-2/6">Mobile</p>
        <p class="w-4/6">0856541234</p>
    </div>

    <div class="flex flex-row">
        <p class="w-2/6">Created</p>
        <div class="w-4/6">
            <div class="flex flex-col">
                <p>Thanayut Test1</p>
                <p>10 Mar 2022 20:00</p>
            </div>
        </div>
    </div>

    <div class="flex flex-row">
        <p class="w-2/6">Updated</p>
        <div class="w-4/6">
            <div class="flex flex-col">
                <p>Thanayut Test1</p>
                <p>10 Mar 2022 20:00</p>
            </div>
        </div>
    </div> -->
</div>