<div class="flex flex-col w-full">
    <div class="flex flex-row">
        <div class="w-2/6">
            <p>Contact</p>
        </div>
        <div class="w-4/6">
            <p>Thanayut Test</p>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="w-2/6">
            <p>Email</p>
        </div>
        <div class="w-4/6">
            <p>Test@gmail.com</p>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="w-2/6">
            <p>Mobile</p>
        </div>
        <div class="w-4/6">
            <p>0856541234</p>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="w-2/6">
            <p>Created</p>
        </div>
        <div class="w-4/6">
            <div class="flex flex-col">
                <div class="w-full">
                    <p>Thanayut Test1</p>
                </div>
                <div class="w-full">
                    <p>10 Mar 2022 20:00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="w-2/6">
            <p>Updated</p>
        </div>
        <div class="w-4/6">
            <div class="flex flex-col">
                <div class="w-full">
                    <p>Thanayut Test1</p>
                </div>
                <div class="w-full">
                    <p>10 Mar 2022 20:00</p>
                </div>
            </div>
        </div>
    </div>
</div>