<div *ngIf="mode === 'small' " 
    class="flex flex-col items-center h-auto w-16" 
>
    <mat-icon [ngStyle]="{'color': color}">
        {{iconName}}
    </mat-icon>

    <span class="text-base">
        {{text}}
    </span>
</div>

<div *ngIf="mode === 'medium-left' " 
    class="flex flex-row items-center h-auto w-auto gap-x-2" 
>
    <mat-icon *ngIf="!iconUrl" [ngStyle]="{'color': color}">
        {{iconName}}
    </mat-icon>
    <span>
        {{text}}
    </span>
</div>

<div *ngIf="mode === 'medium-right' " 
    class="flex flex-row items-center h-auto w-auto gap-x-2" 
>
    <span>
        {{text}}
    </span>
    <mat-icon *ngIf="!iconUrl" [ngStyle]="{'color': color}">
        {{iconName}}
    </mat-icon>
</div>