<div class="grid grid-cols-5 py-2 cursor-pointer hover:card-hover"
    [ngClass]="{ 'card-active' : actived }"
    (click)="onSelected()"
>
    <div class="flex flex-row col-span-2"> 
        <app-criticality-icon 
            [text]="problem.criticality.name" 
            [color]="problem.criticality.color"
            mode="small"
        >
        </app-criticality-icon> 
        <div class="flex flex-row flex-wrap gap-x-2">
            <span> 
                {{problem?.id}} 
            </span>
            <span>
                {{problem?.name}}
            </span>
        </div>
    </div>
    <div [ngClass]="{ 
            'text-warn-500' : problem?.status !== problemStatus.active, 
            'text-primary' : problem?.status === problemStatus.active
        }"
    >
        {{problem?.status | titlecase}}
    </div>
    <div> 
        {{problem?.category?.name | titlecase}}
    </div>
    <div >
        {{problem?.teamOwner?.name | titlecase}}
    </div>
    <div class="pl-16 pr-4 col-span-5">
        {{problem.description}}
    </div>
</div>
