<div class="flex flex-col w-full h-full">
    <div class="flex flex-row w-full mt-2 mb-2 p-2 items-center" 
        style="border-bottom: 1px solid #d4dde7;"
    >
        <div class="flex-initial w-9/12">
            <h1>Create Team</h1>
        </div>
        <div class="flex-initial w-3/12">
            <span>Status : Active</span>
        </div>
    </div>

    <div class="flex flex-row h-30 w-full mt-2 mb-2">
        <div class="w-3/6">
            <h1>Team Name Edit</h1>
        </div>
        <div class="w-3/6">
            <h1>Team Contact Edit</h1>
        </div>
    </div>

    <div class="flex flex-row h-30 w-full mt-2 mb-2">
        <div class="flex flex-col w-full">

            <!-- <div class="w-full">
                <h1>Team Member (3)</h1>
            </div> -->
            <div class="flex ">
                <div class="w-3/6">
                    <h1>Team Member (3)</h1>
                </div>
                <div class="w-3/6">
                    <button mat-flat-button color="primary">
                        test
                    </button>
                </div>
            </div>

            <!-- Content Team Member -->
            <div class="flex flex-row">
                <div class="w-1/2">
                    <div class="flex flex-col">
                        <div class="w-full">
                            <p>1. FirstName LastName</p>
                            <p>2. FirstName LastName</p>
                            <p>3. FirstName LastName</p>
                            <p>4. FirstName LastName</p>
                            <p>5. FirstName LastName</p>
                        </div>
                    </div>
                </div>

                <div class="w-1/2">
                    <div class="flex flex-col">
                        <div class="w-full">
                            <p>EmailTest1@gmail.com</p>
                            <p>EmailTest2@gmail.com</p>
                            <p>EmailTest3@gmail.com</p>
                            <p>EmailTest4@gmail.com</p>
                            <p>EmailTest5@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row h-30 w-full mt-2 mb-2">
        <div class="flex flex-col w-full">

            <!-- <div class="w-full">
                <h1>Problem Support (2)</h1>
            </div> -->
            <!-- <div class="flex">
                <div class="w-3/6">
                    <h1>Problem Support (2)</h1>
                </div>
                <div class="w-3/6">
                    <button mat-flat-button color="primary">
                        test
                    </button>
                </div>
            </div> -->
            <div class="flex ">
                <div class="w-3/6">
                    <h1>Team Member (3)</h1>
                </div>
                <div class="w-3/6">
                    <button mat-flat-button color="primary">
                        test
                    </button>
                </div>
            </div>

            <!-- Content Problem Support -->
            <div class="flex flex-row">
                <div class="w-full">
                    Content
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row h-9 w-full text-right pr-10">
        <div class="w-full">
            <button mat-flat-button color="primary" class="ml-2 mr-2">
                Cancel
            </button>
            <button mat-flat-button color="primary" class="ml-2 mr-2">
                Save
            </button>
        </div>
    </div>
</div>