<mat-drawer-container  class="w-full h-full ">
    <mat-drawer-content class="flex flex-col h-full p-4">
        <ng-container *ngIf="problemsResponse$ | async as problemsResponse">
            <!-- class="sticky top-0" -->
            <div class="flex flex-row w-full ">
                <mat-form-field appearance="outline" class="flex-auto mt-auto mb-auto mr-4 ">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Input">
                </mat-form-field>
                <button mat-flat-button color="primary" (click)="onCreate()" class="flex-initial">
                    Create
                </button>
            </div>

            <app-filter-button [data]="button">

            </app-filter-button>

            <app-problem-card-list [problemDatas]="problemsResponse.data" (selectProblemItem)="onDetail($event)">

            </app-problem-card-list>

            <app-paginator>

            </app-paginator>
        </ng-container>
    </mat-drawer-content>

    <mat-drawer #drawerDetail style="width: 50%;" [mode]="isViewMode ? 'side' : 'over' " position="end">
        <div class="p-2">
            <app-problem-information-view *ngIf="isViewMode">

            </app-problem-information-view>
            <app-problem-information-edit *ngIf="!isViewMode">

            </app-problem-information-edit>
        </div>
    </mat-drawer>

</mat-drawer-container>