<div class="flex flex-col w-full h-full">
    <div class="flex flex-row items-center">
        <h1 class="flex-auto">Assign Problem to team : Team Name 1</h1>
        <button class="flex-initial" mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="flex flex-row items-center">
        <mat-form-field appearance="outline" 
            class="flex-auto"
        >
            <mat-label>Search</mat-label>
            <input matInput placeholder="Input">
        </mat-form-field>
        <p class="flex-initial">
            0 person selected
        </p>
    </div>

    <div class="flex flex-col h-5/6 mb-6 overflow-auto">
        <div class="grid grid-cols-5 p-4 font-bold  
            border-b-2 border-neutral-300"
        >
            <div>No</div>
            <div>Problem Name</div>
            <div>Description</div>
            <div>Problem Cetegory</div>
            <div>Criticallty</div>
        </div>

        <div *ngFor="let item of data" 
            class="grid grid-cols-5 p-2 border-b-2 
                border-neutral-300 hover:bg-gray-300"
        >
        <div> 
            <mat-checkbox></mat-checkbox> 
            <span>
                {{item.No}}
            </span>
        </div>
        <div>{{item.problemName}}</div>
        <div>{{item.description}}</div>
        <div>{{item.category}}</div>
        <app-criticality-icon 
                [text]="item.criticality.text" 
                [color]="item.criticality.color"
                mode="medium"
            >                       
        </app-criticality-icon>
        </div>
    </div>

    <div class="flex flex-row justify-end gap-x-2">
        <button mat-stroked-button color="primary" 
            class="button-normal"
            (click)="close()"
        >
            Cancel
        </button>
        <button mat-flat-button color="primary"
            class="button-normal"
            (click)="save()"
        >
            Save
        </button>
    </div>
</div>