<div class="flex h-full w-full">
    <form [formGroup]="infoFrom" class="flex flex-col w-full">
        <div class="flex flex-row w-full mt-1">
            <div class="flex flex-col w-full">
                <div class="w-full">
                    <mat-label>Team Name</mat-label>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput formControlName="teamName" placeholder="Input">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-row w-full mt-1">
            <div class="flex flex-col w-full">
                <div class="w-full">
                    <mat-label>Team Description</mat-label>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <textarea matInput [rows]="3" formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- style="border: 1px solid red;" -->