<div class="flex flex-col w-full h-full px-6 gap-y-2">
    <div class="z-20 sticky top-0 flex flex-col bg-default">
        <div class="flex flex-row py-2 items-center">
            <p class="flex-auto text-[1.875rem] tracking-wider text-primary font-semibold">
                CREATE TICKET
            </p>
        </div>
        <mat-divider class="mx-2"></mat-divider>
    </div>

    <div class="flex flex-col p-2 border-box shadow-md">

        <!-- Content Order Info -->
        <app-my-ticket-info-edit (closed)="onCreateTicket($event)">

        </app-my-ticket-info-edit>
    </div>

</div>