<mat-drawer-container class="w-full h-full">
    <mat-drawer-content cdkscrollable class="flex flex-col absolute inset-0">
        <ng-container *ngIf="teamResponse$ | async as teamResponse">
            <div class="flex flex-row gap-x-2 items-end">
                <div class="flex flex-col flex-auto">
                    <span class="text-xl pl-4">
                        Search
                    </span>
                    <mat-form-field appearance="outline" >
                        <input matInput placeholder="Input">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex-initial pb-2" >
                    <button mat-flat-button color="primary" (click)="onCreate()">
                        Create
                    </button>
                </div>
            </div>

            <app-filter-button [buttons]="buttons">

            </app-filter-button>


            <app-team-card-list [teams]="teamResponse.data" (selected)="onDetail($event)">
            </app-team-card-list>   
        
            

            <app-paginator>

            </app-paginator>
        </ng-container>
    </mat-drawer-content>

    <mat-drawer #drawerDetail class="md:w-4/12 w-5/12 xl:w-6/12" 
        [mode]="isViewMode ? 'side' : 'over' " position="end"
    >
        <div class="p-2">
            <app-team-information-view *ngIf="isViewMode" (closed)="drawerDetail.toggle()">

            </app-team-information-view>
            <app-team-information-edit *ngIf="!isViewMode">

            </app-team-information-edit>
        </div>
    </mat-drawer>

</mat-drawer-container>