<div class="flex flex-col p-2 min-h-26 border-box gap-y-2 shadow-md">

    <div class="flex flex-row items-center">
        <p class="pl-2 flex-auto text-3xl tracking-wide text-primary font-semibold gap-x-1">
            Team Owner
        </p>
        <button mat-flat-button color="primary" 
            *ngIf="isEditMode || isCreateMode"
            class="button-large mr-4"
            (click)="clickAdd.emit(undefined)"
        >
            <span *ngIf="isCreateMode">ADD MEMBER</span>
            <span *ngIf="isEditMode">EDIT MEMBER</span>
        </button>
    </div>

    <mat-divider></mat-divider>

    <p class="px-2">
        {{problem?.teamOwner?.name}}
    </p>
    
</div>