<div class="flex flex-col p-2 min-h-26 border-box gap-y-2 shadow-md">
    <div class="flex flex-row items-center">
        <!-- class=" flex-auto gap-x-1" -->
            <span  class="flex-auto text-3xl tracking-wide text-primary font-semibold ">
                Team Owner
            </span>

        <!-- <button mat-flat-button color="primary" 
            class="button-normal mr-4"
        >
            Add req
        </button> -->
        
    </div>
    <mat-divider></mat-divider>

    <p>{{problem?.teamOwner?.name}}</p>
    
</div>