<div class="flex flex-col w-full">
    <div class="grid grid-cols-4">
        <p class="font-semibold">Key Name</p>
        <p class="font-semibold">Display Name</p>
        <p class="font-semibold">Control Type</p>
        <p></p>
    </div>

    <mat-divider></mat-divider>

    <ng-container *ngFor="let request of requestData" >
        <app-request-data-info [requestData]="request" (edit)="onSelectEdit($event)">
        </app-request-data-info>
        
        
        <mat-divider [inset]="true"></mat-divider>

    </ng-container>

</div>

