<div class="absolute inset-0 flex flex-col min-w-o overflow-hidden">
    <mat-drawer-container  class="h-full flex-auto">
        <mat-drawer-content cdkscrollable class="flex flex-col">
            <ng-container *ngIf="ticketResponse$ | async as ticketResponse">
                <div class="flex flex-col px-4 flex-auto w-full max-w-6xl mx-auto gap-y-2">
                    <div class="z-20 sticky top-0 flex flex-col bg-white gap-y-2">
                        <div class="flex flex-row gap-x-2 items-end">
                            <div class="flex flex-col"
                                [ngClass]="{ 
                                    'w-full' : drawerDetail.opened,
                                    'w-3/5' : !drawerDetail.opened
                                }"
                            >
                                <span class="text-xl pl-4">
                                    Search
                                </span>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Search Ticket">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col flex-initial">
                                <span class="text-xl pl-4">Sort By</span>
                                <mat-form-field appearance="outline">
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="flex flex-row gap-x-4">
                            <app-filter-button [buttons]="filters" 
                                [active]="currFilter"
                                (selected)="onStatusFilter($event)" 
                            >

                            </app-filter-button>

                           <app-filter-button [buttons]="myTaskFilters" multiple
                                (selected)="onMyTaskFilter($event)"
                           >

                           </app-filter-button>
                        </div>

                    </div>

                    <app-ticket-card-list #ticketListComp (selected)="onViewOpened($event)">

                    </app-ticket-card-list>

                    <app-paginator class="pr-4"
                        [pageNo]="ticketResponse.pageNo"
                        [pageSize]="ticketResponse.pageSize"
                        [totalRecord]="ticketResponse.totalRecord"
                    >

                    </app-paginator>
                </div>
            </ng-container>

        </mat-drawer-content>

        <mat-drawer #drawerDetail class="lg:w-full xl:w-160 w-full"
            [mode]="isViewMode ? 'side' : 'over' " position="end"
        >
            <app-ticket-information-view *ngIf="isViewMode"
                (closed)="onViewClosed()"
            >

            </app-ticket-information-view>
        </mat-drawer>

    </mat-drawer-container>
</div>