
<mat-drawer-container class=" w-full h-full">
    <mat-drawer-content class="flex flex-col h-full p-4">
        <div class="flex flex-row w-full">
                <mat-form-field appearance="outline" 
                    class="flex-auto mt-auto mb-auto mr-4"
                >
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Input">
                </mat-form-field>

                <mat-form-field appearance="outline"
                class="flex-initial mt-auto mb-auto mr-4"
                >
                    <mat-label>Sort By</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>

                <button mat-flat-button color="primary"
                    (click)="onCreate()" class="flex-initial"
                >
                    Create
                </button>
        </div>

        <app-my-ticket-card-list (selectMyTicket)="onDetail($event)">

        </app-my-ticket-card-list>

    </mat-drawer-content>

    <mat-drawer #drawerDetail style="width: 50%;" 
        [mode]="isViewMode ? 'side' : 'over' " position="end"
    >
        <div class="p-2">
            <app-my-ticket-information-view *ngIf="isViewMode">

            </app-my-ticket-information-view>
            <app-my-ticket-information-edit *ngIf="!isViewMode">
                
            </app-my-ticket-information-edit>
        </div>
    </mat-drawer>

</mat-drawer-container>