
<div class="flex flex-col p-2 border-box shadow-md">
    <div class="flex flex-row gap-2">
        <div class="grid grid-cols-2">
            
                <p>Ticket No</p>
                <p>TK0000000001</p>
                <p>Description</p>
                <p></p>
                <p>Description 1</p>
   
        </div>
        
        <div class="grid grid-cols-2 ">
                
                <p>Category</p>
                <p>Product Problem</p>
                <p>Order No</p>
                <p>No xx 0012345</p>
                <p>Created</p>
                <p>10 Mar 2022 20:00</p>
                
        </div>
    </div>
</div>