<div *ngIf="ticket" class="grid  grid-cols-6 lg:grid-cols-5 p-2 border-box shadow-md">
    <p class="text-primary">Status</p>
    <p class="col-span-5 lg:col-span-4 text-primary">Open</p>

    <p class="text-primary">Category</p>
    <p class="col-span-5 lg:col-span-4">
        {{ticket?.problem?.category?.name}}
    </p>

    <p class="text-primary">Problem Name</p>
    <p class="col-span-5 lg:col-span-4">
        {{ticket?.problem?.name}}
    </p>


    <p class="text-primary">Description</p>
    <p class="col-span-5 lg:col-span-4 break-words">
        {{ticket?.problem?.description}}
    </p>

    <p class="text-primary">Last Updated</p>
    <p class="col-span-5 lg:col-span-4">
        {{ticket?.updated | date: 'dd/MM/yyyy hh:mm a'}}
    </p>

</div>



 
