<div class="flex flex-col w-full h-full">
    <div class="flex flex-row  pt-2 pb-2">
        <h1 class="flex-auto">Create Problem</h1>
        <mat-slide-toggle class="flex-initial">
            <span>Status : Active</span>
        </mat-slide-toggle>
    </div>

    <mat-divider></mat-divider>

    <div class="flex flex-wrap gap-2 mb-2">
        <app-problem-info-edit class="p-1 border-2 border-gray-300 rounded flex-auto ">
        </app-problem-info-edit>

        <app-problem-control-edit class=" p-1 border-2 border-gray-300 rounded flex-auto">
        </app-problem-control-edit>
    </div>

    <div class="flex flex-col p-1 mb-2 border-2 border-gray-300 rounded">
        <div class="flex flex-row items-center">
            <h1 class="flex-auto">Request Data</h1>
            <app-request-data-info [requestData]='requestData'></app-request-data-info>
        </div>
        <mat-divider></mat-divider>

        <app-request-data-edit></app-request-data-edit>

    </div>

    <div class="flex flex-row gap-2">
        <span>External Operation</span>
        <mat-slide-toggle class="flex-initial"></mat-slide-toggle>
    </div>
    
    <div class="flex flex-col mb-2 p-1 border-2 border-gray-300 rounded">
        <div class="flex flex-row items-center">
            <h1 class="flex-auto">Team Owner</h1>
            <button (click)="openTeamOwnerDialog()" class="flex-initial" mat-flat-button color="primary">
                Add Team Owner
            </button>
        </div>
        <mat-divider></mat-divider>

        <app-team-owner-edit></app-team-owner-edit>

    </div>

    <div class="flex flex-row justify-end gap-2">
        <button mat-flat-button color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary">
            Save
        </button>
    </div>

</div>