<div class="flex flex-col w-full gap-y-2 px-2 pb-4">
    <div class="z-20 sticky top-0 flex flex-col bg-default">
        <div class="flex flex-row py-2 px-4 items-center  gap-x-2">
            <p class="flex-auto text-[1.875rem] tracking-wider text-primary font-semibold">
                Ticket No : TK 0000000
            </p>
            <button mat-flat-button color="primary"
                class="button-normal flex-initial" 
                (click)="openTicketAnalyzeDialog()" 
            >
                ANALYZE
            </button>
            <!-- <button mat-icon-button class="flex-initial" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button> -->
        </div>
    
        <mat-divider></mat-divider>
    </div>
    <div class="flex flex-col px-1 gap-y-2">
        <app-ticket-info-view>

        </app-ticket-info-view>

        <app-ticket-order-info-view>
        </app-ticket-order-info-view>

        <app-ticket-contact-info-view>
        </app-ticket-contact-info-view>
    </div>

    <div class="flex flex-row justify-end gap-x-2 mr-15">
        <button mat-stroked-button color="warn" 
            class="flex-initial button-normal"
        >
            REJECT
        </button>
        <button mat-flat-button color="primary" 
            class="flex-initial button-normal"
            (click)="openTicketAcceptDialog()"
        >
            ACCEPT  
        </button>
    </div>

</div>