
<div class="flex flex-col p-2 min-h-26 border-box gap-y-2 shadow-md">
    <div class="flex flex-row items-center">
        <p class="pl-2 flex-auto text-3xl tracking-wide text-primary font-semibold gap-x-1">
            <span>Team Member</span>
            <span *ngIf="team?.members?.length > 0">
                ({{ team?.members?.length }})
            </span> 
        </p>
        <button mat-flat-button color="primary" 
            *ngIf="isEditMode || isCreateMode"
            class="button-normal mr-4"
            (click)="clickAdd.emit(undefined)"
        >
            <span *ngIf="isCreateMode">ADD MEMBER</span>
            <span *ngIf="isEditMode">EDIT MEMBER</span>
        </button>
    </div>

    <mat-divider></mat-divider>

  
    <ng-container *ngFor="let member of team?.members; let i = index">
        <div class="group flex flex-row px-4 py-2 items-center"
            [ngClass]="{ 'hover:card-hover' : isEditMode || isCreateMode }"
        >
            <div class="flex-auto grid grid-cols-2">
            
                <p class="break-words">
                    <span> {{ i + 1 }}. </span>
                    <span>{{ member.firstName + ' ' + member.lastName}}</span>
                </p>
                <p>
                    {{ member.email }}
                </p>
            </div>

            <ng-container *ngIf="isEditMode || isCreateMode">
                <mat-icon class="cursor-pointer button-icon invisible group-hover:visible 
                    hover:text-warn-500 items-center flex-initial"
                    svgIcon="delete"
                >
                </mat-icon>
            </ng-container>
        
        </div>
    </ng-container>
   
</div>
