
<div class="flex flex-col p-2 ">
    <div class="flex flex-row items-center">
        <p class="flex-auto gap-x-1">
            <span>Team Member</span>
            <span *ngIf="team?.members?.length > 0">
                ({{ team?.members?.length }})
            </span> 
        </p>
        <button mat-flat-button color="primary" 
            *ngIf="mode === 'edit' "
            class="flex-initial button-normal"
            (click)="clickAdd.emit(undefined)"
        >
            Add Member
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-2">
        <ng-container *ngFor="let member of team?.members; let i = index">
            <p class="break-all">
                <span> {{ i + 1 }}. </span>
                <span>{{ member.firstName + ' ' + member.lastName}}</span>
            </p>
            <p>
                {{ member.email }}
            </p>
        </ng-container>

    </div>
   
</div>
