<!-- <mat-stepper orientation="vertical" #stepper> -->
<!-- <mat-step state="registerIcon" *ngFor="let item of [1,2,3,4,5]"> -->
<!-- <ng-template matStepLabel>
            <div class="flex flex-col w-full">
                <p>1 {{item}}</p>
                <p>2</p>
            </div>
        </ng-template> -->

<!-- <ng-template matStepperIcon="registerIcon">
            <img src="https://codeible.com/assets/images/icons/codible_256.png" width="32px">
        </ng-template> -->
<!-- </mat-step> -->
<!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
<!-- </mat-stepper> -->
<!-- <mat-vertical-stepper [linear]="true" #stepper>
	<mat-step label="Step 1" [completed]="completed">
		<div class="page">1</div>
	</mat-step>
	<mat-step label="Step 2" [completed]="completed">
		<div class="page">2</div>
	</mat-step>
	<mat-step label="Step 3" [completed]="completed">
		<div class="page">3</div>
	</mat-step>
</mat-vertical-stepper> -->
<!-- <mat-horizontal-stepper #stepper [linear]="true" class="register-stepper">
    <ng-template matStepperIcon="user">
        <mat-icon>account_circle</mat-icon>
    </ng-template>
    <mat-step [completed]="true" state="user">
        <ng-template class="form-control" matStepLabel>Basic</ng-template>
        <h4 class="cgg-component-heading">Basic Information</h4>
    </mat-step>
    <mat-step [completed]="true" state="user">
        <ng-template class="form-control" matStepLabel>Basic</ng-template>
        <h4 class="cgg-component-heading">Basic Information</h4>
    </mat-step>
</mat-horizontal-stepper> -->

<mat-vertical-stepper>

  <mat-step label="Step 1" state="phone" [completed]="true">
    <ng-template matStepLabel>
      <div class="flex flex-col w-full">
        <p>1 {{item}}</p>
        <p>2</p>
      </div>
    </ng-template>
  </mat-step>

  <mat-step label="Step 2" state="chat" [completed]="true">
    <p>Socialize with each other.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Step 3" [completed]="true">
    <p>You're welcome.</p>
    <mat-icon>forum</mat-icon>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>

</mat-vertical-stepper>