<div class="flex flex-col w-full">
    <!-- <form> -->
        <div class="flex flex-col">
            <mat-label>Problem Name</mat-label>
            <mat-form-field appearance="outline">
                <!-- <mat-label>Please Select</mat-label> -->
                <mat-select placeholder="Please Select">
                    <mat-option value='Test'> Test </mat-option>
                </mat-select>
          </mat-form-field>
        </div>


        <div class="flex flex-col">
            <mat-label>Category</mat-label>
            <mat-form-field appearance="outline">
                <!-- <mat-label>Please Select</mat-label> -->
                <mat-select placeholder="Please Select">
                    <mat-option value='Test'> Test </mat-option>
                </mat-select>
          </mat-form-field>
        </div>
    <!-- </form> -->
</div>