<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class=" w-full h-full ">
        <mat-drawer-content cdkScrollable class="flex flex-col ">                            
            <div class="flex flex-initial gap-x-2">
                <div class="flex flex-col px-4 flex-auto w-full max-w-6xl mx-auto gap-y-2">    
                    <div class="z-20 sticky top-0 flex flex-col bg-default gap-y-2">
                        <span class="text-xl">
                            Select Team
                        </span>
                        <div class="flex flex-row  w-full gap-x-2 " >
                            <mat-form-field appearance="outline" class="w-3/4">
                                <mat-select> 
                                    <mat-option *ngFor="let criticality of criticalitys" [value]="criticality.value">
                                        {{criticality.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="flex flex-initial gap-x-2">
                                <button class="button-normal text-center" mat-flat-button color="primary"
                                    (click)="openCriticalityDialog()"
                                >
                                    CREATE CRITICALITY
                                </button>
                            </div>
                        </div>
                        <div class="grid grid-cols-5 font-semibold">
                            <p></p>
                            <p><strong>Total Period</strong></p>
                            <p><strong>Acknowledge Time</strong></p>
                            <p><strong>Process Time</strong></p>
                            <p></p>
                        </div>

                        <app-criticality-list></app-criticality-list>
                    </div>             
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>