<ng-container *ngIf="{ activeTeam : activeTeam$ | async } as data">
    <div class="flex flex-col w-full h-full">
        <div class="flex flex-row items-center">
            <p class="flex-auto">
                <span *ngIf="mode === 'create' ">Create Team</span>
                <span *ngIf="mode === 'edit' ">Edit Team</span>
            </p>
            <mat-slide-toggle class="flex-initial pr-5">
                <span>Status : Active</span>
            </mat-slide-toggle>
        </div>

        <mat-divider></mat-divider>

        <div class="grid grid-cols-2">
            <app-team-info-edit [team]="data.activeTeam" class="border-2 border-gray-300 rounded">

            </app-team-info-edit>

        
            <app-team-contact-edit [team]="data.activeTeam" class="border-2 border-gray-300 rounded">

            </app-team-contact-edit>
        </div>

        <app-team-member mode="edit"
            [team]="data.activeTeam"
            class="border-2 border-gray-300 rounded"
            (clickAdd)="openTeamMemberDialog()"
        >

        </app-team-member>

        
        <app-problem-support mode="edit" 
            [team]="data.activeTeam"
            class="border-2 border-gray-300 rounded"
            (clickAdd)="openProblemDialog()"
        >

        </app-problem-support>


        <div class="flex flex-row justify-end">
            <button mat-stroked-button color="primary"
                class="button-normal"
            >
                Cancel
            </button>
            <button mat-flat-button color="primary"
                class="button-normal"
            >
                Save
            </button>
        </div>

    </div>
</ng-container>